.video-sub {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.video-ssub {
  display: flex;
  align-items: center;
  margin-right: 35vw;
  width: 200px;
  justify-content: space-between;
}
.hr-class {
  width: 45vw;
}
.pok {
  margin-left: 65px;
}
.card-profiles {
  height: 60px;
  margin-top: 10px;
  margin-right: 5px;
}
