.head-img {
  height: 30px;
}
.Head {
  display: flex;
  width: 15vw;
  align-items: center;
  justify-content: space-between;
}

.banner {
  padding: 20px;
  background-image: url('https://assets.ccbp.in/frontend/react-js/nxt-watch-banner-bg.png');
  height: 35vh;
  background-size: cover;
  width: 79vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.getbtn {
  padding: 10px;
  font-weight: 500;
  border-style: solid;
  border-color: black;
  color: black;
  background: none;
  width: 130px;
  margin-bottom: 20px;
}
.banner-sub {
  display: flex;
  justify-content: space-between;
}
.logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
}
.searchInput {
  width: 230px;
  padding: 5px;
}
.login-imgs {
  margin: 0px;
  height: 30px;
}
.mainhome {
  display: flex;
  align-items: center;
  background-color: #cccccc;
  width: 250px;
  border-style: solid;
  border-color: #909090;
  border-width: 1px;
}
.noBtn {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
.koko {
  display: flex;
  min-height: 90vh;
}

.ppp {
  margin: 2px;
}
.lin {
  text-decoration: none;
}
.ppn {
  padding: 5px;
  margin: 0px;
}
.card-img {
  height: 160px;
  width: 19.5vw;
}
.no {
  text-decoration: none;
  color: black;
}
.blur {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pop {
  padding: 5px;
}
.card-profile {
  height: 40px;
  margin-top: 10px;
}
.card-sub {
  display: flex;
  align-items: center;
}
